*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10 0;
    background-color: #444;
    text-decoration: double;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    text-shadow: 4px 4px 4px #000;
}

input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;

}

input:focus{
    background-color: #000;
    transform: scale(1.1);
    transition: 0.4s;
}

.price input{
    width: 20%;
}

#total{
    background-color: rgb(169, 48, 48);
    padding: 4px 2px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

#total:before{
    content: "Total: ";
}

button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #444;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0;
}

button:hover{
    background-color: #666;
    letter-spacing: 1px;
    transition: 0.5s;
}

.search-buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

table th{
    text-transform: uppercase;;
}

td, th{
    border: 1px solid #555;
    padding: 8px;
}